    <header>
        <div class="logo">
            <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/logo-DbCUTgkCSOp0ghpyog4u3NyoHP8UKN.png" alt="Logo Fuerza Aérea del Perú">
            <h1>Deportes FAP</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/registro">Usuarios</a></li>
                <li><a href="/formularioPartidos">Partidos</a></li>
                <li><a href="#">Jugadores</a></li>
                <li><a href="/formularioComunicados">Comunicados</a></li>
                <li><a href="#">Reclamos</a></li>
                <li><a href="#">Correo</a></li>
                <li><a href="/formularioEquipos">Equipos</a></li>
                <li><a href="#">Resultados</a></li>
                <li><a href="#">Goleadores</a></li>
                <li><a href="/formularioDecadas">Decadas</a></li>
            </ul>
        </nav>
    </header>