<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{componentes/head :: head}"></head>
<body>
    <header th:replace="~{componentes/header :: header}"></header>
 <!-- Contenido principal -->
    <div class="container">
        <div class="header-actions">
            <h2>Comunicados</h2>
            <button class="btn-add" onclick="openModal()">Agregar <span>+</span></button>
        </div>
        
        <!-- Barra de búsqueda -->
        <div class="search-bar">
            <span class="search-icon">🔍</span>
            <input type="text" placeholder="Buscar Equipo">
        </div>
        
        <!-- Tabla de usuarios -->
        <div class="table-container">
  <table>
        <thead>
            <tr>
                <th>Nro</th>
                <th>Titulo del Comunicado</th>
                <th>Descripcion</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
                 <tr th:each="comunicado, iterStat : ${comunicados}">
                    <td th:text="${iterStat.index + 1}">1</td>
                    <td th:text="${comunicado.comTitulo != null ? comunicado.comTitulo : 'Sin titulo'}">Titulo</td>
                    <td th:text="${comunicado.comDescripcion!= null ? comunicado.comDescripcion : 'Sin descripcion'}">Descripcion</td>
                    <td><img th:src="@{/imagenes/imgComunicados/{nombreImagen}(nombreImagen=${comunicado.comImagen})}" alt="Logo del Equipo" class="img_comunicado"/></td>
                    <!-- <td class="actions">
                    <form th:action="@{/eliminarlicenciado/{id}(id=${licenciado.licId})}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este licenciado?');">
                    <button class="btn-delete" type="submit">🗑️</button>
                    </form>
                         <a th:href="@{/editarlicenciado/{id}(id=${licenciado.licId})}">✏️</a>
                    </td> -->
                </tr> 
        </tbody>
    </table>
        </div>
        
        <!-- Paginación -->
        <div class="pagination">
            <button>&lt;</button>
            <button class="active">1</button>
            <button>2</button>
            <button>3</button>
            <button>...</button>
            <button>8</button>
            <button>9</button>
            <button>10</button>
            <button>&gt;</button>
        </div>
    </div>
    
    <div class="modal" id="registroModal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Registrar Nuevo Comunicado</h2>
            </div>
            <form action="#" th:action="@{/registrarComunicados}" th:object="${comunicado}" method="post">
                <div class="form-grid">
                    <div class="form-group">
                        <label for="nombre">Titulo del Comunicado:</label>
                        <input type="text" id="nombre" th:field="*{comTitulo}" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion del Comunicado:</label>
                        <input type="text" id="apellido" th:field="*{comDescripcion}" required>
                    </div>
                    <div class="form-group">
                        <label for="logo">Imagen del Comunicado:</label>
                        <input type="file" id="" th:field="*{comImagen}" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-primary" onclick="submitForm()">Añadir</button>
                    <button type="button" class="btn-secondary" onclick="closeModal()">Anular</button>
                </div>
 
            </form>
        </div>
    </div>

    <script>
        function openModal() {
            document.getElementById('registroModal').style.display = 'block';
        }
        
        function closeModal() {
            document.getElementById('registroModal').style.display = 'none';
        }
    </script>
</body>
</html>